.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.app-content {
  padding: 1rem;
}

.center-flex {
  display: flex;
  align-items: center;
  span {
    margin-left: 0.5rem;
  }
}

mat-sidenav-content {
  position: relative;
}
