@use '@angular/material' as mat;

.section {
  margin: 0.5rem 0 0.5rem 0;
}

.resume-card-section {
  display: flex;
  flex-flow: row wrap;
  mat-card {
    margin: 0 1rem 0 1rem;
    flex-grow: 1;
  }
}

.chart-bar-section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  app-bar-chart {
    margin-right: 1rem;
  }

  .item {
    flex-grow: 1;
  }
}

.top-5-section {
  display: flex;
  flex-direction: column;
  mat-card {
    margin: 1rem;
    flex-grow: 1;
  }

  th, td {
    padding: 0 0.5rem 0
  }
}

.mat-column-date {
  flex: none;
  width: 120px;
}

app-bar-chart {
  width: 70%;
}

.account-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  mat-card {
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: row;
  }
}

mat-expansion-panel {
  margin-top: 1rem;
}
